version: "3.8"

services:
  db:
    image: postgres:15.3
    restart: always # restart the container if it crashe
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes: 
      - ./data_postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    container_name: postgres

  # app:
  #   build: .
  #   ports:
  #     - "3000:3000"
